/* CSS Document */
body{
	font: 15px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}
#header{
	height:95px; 
	font-size:22px;
	background-color:#011334;
}
#header span{color:#00FF00;}
#header .header-display-block{height:55px;}
.header-display-block .logo{margin:30px 0px 0px 40px;}
.header-display-block .userinfo{
	display:block;
	position:absolute;
	width:400px;                  /*select de bianju*/
	height:25px;
	right:40px;
	top:20px;
	font-size:18px;
	margin:0px;
	padding:0px;
}
.userinfo .icon{
	height:20px;
	width:20px;
	vertical-align:middle;
}
.userinfo a{text-decoration:none;}
#header .head-search-block{height:40px;}
#header .header-search-block .searchform{
	display:block;
	position:absolute;
	width:370px;                  /*select de bianju*/
	height:25px;
	right:40px;
	top:60px;
	font-size:18px;
	margin:0px;
	padding:0px;
	border:5px solid #7B5109;
	background-color:#011334;
}
.searchform .select,.searchform .search, .searchform .search-img-box{
	height:25px;	
	border:0px;
	margin:0px;
	padding:0px;
}
.searchform .select{width:125px;}
.searchform .search{width:200px;}
.searchform .search-img-box{
	height:25px;
	width:25px;
	vertical-align:middle;
}
#line-nav{
	height:85px;
	background-color:#CCFF99;
}
#menu
{
	float:left;
	width:159px;
	min-height:700px;
	border-right:1px solid #FFFF33;
	background-color:#6699FF;
}
#container{}
#content{
	float:left;
	width:800px;
	margin-left:5px;
	min-height:700px;
}
#footer{
	clear:both;
	text-align:center;
	font-size:18px;
	height:95px;
	background-color:#011334;
	color:#F9F9F9;
}
.shoplist, .productlist{clear:both;padding-top:5px;}
 .productlist{
 	width:840px;
	background-color:#FFFFFF;
	background-image:url(../Images/bg/productback.jpg); 
 }
 .shoplist{
 	width:920px;
	background-color:#FFFFFF;
	background-image:url(../Images/bg/productback.jpg); 
 }
.framelists{
	width:100%;
	height:100%;
	border:none;

}

