/* CSS Document */


/* CSS Document */

* {
    margin: 0;
}


/**
 * html
 */

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Ping Hei", "¶¬ÇàºÚÌå", "Hiragino Sans GB", "Hiragino Sans GB W3", "Arial", "Î¢ÈíÑÅºÚ" !important;
    font-size: 15px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%;
    position: relative;
    overflow-y: scroll;
    color: #000;
}

input {
    outline-color: #ffa200;
}

select {
    padding: 5px;
    border-radius: 4px;
    background-color: #ffa200;
    border: none;
    outline: none;
}

s {
    color: #ccc;
}

@import url(layout.css);
@import url(nav.css);
.text-align-right {
    text-align: right;
}

.float-right {
    float: right;
}

a {
    text-decoration: none;
}

#info-photo {
    height: 120px;
    width: 120px;
    text-align: center;
    display: inline;
    float: right;
}

.block {
    display: block;
}

.form-item {
    clear: both;
    text-align: left;
    margin: 15px 0;
}

.form-item-img {
    clear: both;
    height: 150px;
}

.form-item-textarea {
    clear: both;
}

.form-lable-left {
    float: left;
    width: 130px;
    line-height: 1em;
    font-size: 18px;
    margin-right: 10px;
    overflow: hidden;
    line-height: 26px;
}

.form-input {
    width: 200px;
    height: 26px;
    border-radius: 4px;
    background-color: #f0ede5;
    border: 1px solid #ccc;
    height: 25px;
    padding-left: 0.5em;
    box-sizing: border-box;
}

.form-input-right {
    padding: 6px 10px;
    border: 1px solid;
    outline: 0;
}

.textarea {
    height: 120px;
    width: 300px;
}

.hide {
    display: none;
}

.color1 {
    background-color: #FFFF99;
}

.color2 {
    background-color: #6699FF;
}

.color3 {
    background-color: #CC6699;
}

.color4 {
    background-color: #FFFFFF;
}

.color5 {
    background-color: #1091E4;
}

.white {
    background-color: #FFFFFF;
}

.black {
    background-color: #000000;
}

.fontred {
    font: red;
}

.height10px {
    height: 10px;
}

.height5px {
    height: 5px;
}

.height2px {
    height: 2px;
}

.outset {
    border-style: outset;
}

.font1.4 {
    font-size: 1.4em;
}

.nofloat {
    clear: both;
}

/*****************************************************************
 *
 * common
 *
 ****************************************************************/

.shop-container,
.register-container,
.delete-shop-container,
.modify-shops-container,
.products-list-container,
.add-products-container,
.modify-products-container,
.delete-products-container,
.shops-orders-container {
    padding: 95px 4% 97px;
}

.button {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
}

.button:active {
    transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
}

.pic-container {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    z-index: 1;
    font-size: 0.8em;
}

.pic-container .shop {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 4s;
    -webkit-transition: transform 4s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
}

.pic-container .over {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.8s;
    -webkit-transition: opacity 0.8s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
}

.pic-container .over .link-btn {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 50%;
    z-index: 3;
}

.pic-container .over .shop-name {
    color: #fff;
    position: absolute;
    bottom: 3%;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pic-container .over .shop-status {
    color: #ffa200;
    position: absolute;
    top: 3%;
    right: 3%;
    font-size: 1.5em;
}

.pic-container:hover .shop {
    transform: scale(1.4, 1.4);
    -webkit-transform: scale(1.4, 1.4);
}

.pic-container:hover .over {
    opacity: 1;
}

.pic-container .before {
    height: 50% !important;
    z-index: 3 !important;
}

.pic-container .before .shop-name {
    bottom: -15% !important;
}

.pic-container .after,
.pic-container .after-left,
.pic-container .after-right {
    top: 50%;
    left: 0;
    z-index: 2 !important;
}

.pic-container .after-left {
    height: 50% !important;
    left: 0;
}

.pic-container .after-right {
    height: 50% !important;
    left: 50%;
}

.pic-container .after-left,
.pic-container .after-right {
    width: 50% !important;
}


/*****************************************************************
 *
 * page title
 *
 ****************************************************************/

.page-title {
    margin: 2% 0 0 0;
    padding-bottom: 3px;
    width: 50%;
    border-bottom: 2px solid #000;
}

.page-title span {
    margin-right: 5px;
}

.page-title .back-btn {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1.6em;
    height: 1.6em;
    margin-right: 20px;
    cursor: pointer;
    float: left;
    background-image: url(./../images/back-btn.png);
}

.page-title .parknshop,
.page-title .main-title {
    font-size: 1.6em;
}

.page-title .main-title {
    color: #ffa200;
}


/*****************************************************************
 *
 * menu
 *
 ****************************************************************/

#menu {
    position: fixed;
    top: 95px;
    z-index: 2;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    width: 300px;
    left: -300px;
    transition: left 0.6s;
    -webkit-transition: left 0.6s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
}

#menu .head-item {
    padding: 15px;
    color: #fff;
    text-align: left;
}

#menu .item-list {
    padding: 0;
}

#menu .item-list a {
    color: #000;
    text-decoration: none;
}

#menu .item-list a:active {
    color: #000;
}

#menu .item-list li {
    list-style: none;
    padding: 10px 0;
    transition: background-color 0.8s;
}

#menu .item-list .active {
    color: #fff;
}

#menu .item-list .active:hover {
    background-color: #ffa200;
}

#menu .item-list .selected {
    color: #fff !important;
    background-color: #ffa200 !important;
}

#menu .menu-btn {
    height: 100px;
    width: 30px;
    background-image: url(./../images/products-btn-close.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 25%;
    right: -30px;
    cursor: pointer;
}


/*****************************************************************
 *
 * shop container
 *
 ****************************************************************/

.shop-container #shop-lists {}

.shop-container .shopbox {
    width: 200px;
    height: 120px;
    margin: 15px 15px 0 0;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.shop-container .add-box {
    background-image: url(./../images/add-btn.png);
    border-radius: 4px;
    background-size: 24% auto;
    border: 2px dashed #ffa200;
}

.shop-container .pic-container {
    width: 200px;
    height: 120px;
    display: inline-block;
    margin: 15px 15px 0 0;
}


/*****************************************************************
 *
 * shop container
 *
 ****************************************************************/

.register-container .complete-info {
    font-size: 20px;
    text-align: left;
    display: block;
    overflow: hidden;
    width: 80%;
}

.register-container textarea {
    width: 400px;
    height: 300px;
    resize: none;
    outline: none;
    display: inline-block;
    padding: 5px;
    box-sizing: border-box;
    background-color: #f0ede5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-container input[type="button"],
.register-container button {
    border-radius: 4px;
    border: 1px solid #B27100;
    background-color: #ce8300;
    font-size: 18px;
    cursor: pointer;
    line-height: 18px;
    text-align: center;
    outline: none;
    vertical-align: top;
}

.register-container .form-control-right > label {
    color: #ffa200;
}

.register-container .form-item-textarea {
    margin-bottom: 20px;
}


/*****************************************************************
 *
 * delete-shop-container
 *
 ****************************************************************/

.delete-shop-container .form-control-right {
    line-height: 26px;
}

.delete-shop-container .img-container {
    width: 200px;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 11%;
}

.delete-shop-container .delete-btn,
.delete-shop-container .cancel-btn {
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    line-height: 32px;
    text-align: center;
    outline: none;
    vertical-align: top;
    height: 36px;
    width: 100px;
}

.delete-shop-container .delete-btn {
    border: 1px solid #B27100;
    background-color: #ce8300;
}

.delete-shop-container .cancel-btn {
    border: 1px solid #999;
    color: #999;
    background-color: transparent;
}

.delete-shop-container .form-control-right {
    color: #ffa200;
}

.delete-shop-container .form-textarea {
    color: #ffa200;
}


/*****************************************************************
 *
 * modify-shops-container
 *
 ****************************************************************/

.modify-shops-container .form-control-right {
    line-height: 26px;
}

.modify-shops-container .form-control-right label {
    color: #ffa200;
}

.modify-shops-container textarea {
    width: 400px;
    height: 300px;
    resize: none;
    outline: none;
    display: inline-block;
    padding: 5px;
    box-sizing: border-box;
    background-color: #f0ede5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modify-shops-container input[type="button"],
.modify-shops-container input[type="submit"],
.modify-shops-container button {
    border-radius: 4px;
    border: 1px solid #B27100;
    background-color: #ce8300;
    font-size: 18px;
    cursor: pointer;
    line-height: 18px;
    text-align: center;
    outline: none;
    vertical-align: top;
}

.modify-shops-container .form-item-textarea {
    margin-bottom: 20px;
}

.modify-shops-container .img-container {
    width: 200px;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 11%;
}


/*****************************************************************
 *
 * products-list-container
 *
 ****************************************************************/

.products-list-container .add-box {
    background-image: url(./../images/add-btn.png);
    border-radius: 4px;
    background-size: 24% auto;
    border: 2px dashed #ffa200;
}

.products-list-container .shopbox {
    width: 200px;
    height: 120px;
    margin: 15px 15px 0 0;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.products-list-container .pic-container {
    width: 200px;
    height: 120px;
    display: inline-block;
    margin: 15px 15px 0 0;
}


/*****************************************************************
 *
 * add-products-container
 *
 ****************************************************************/

.add-products-container input[type="button"],
.add-products-container input[type="submit"],
.add-products-container button {
    border-radius: 4px;
    border: 1px solid #B27100;
    background-color: #ce8300;
    font-size: 18px;
    cursor: pointer;
    line-height: 18px;
    text-align: center;
    outline: none;
    vertical-align: top;
}

.add-products-container textarea {
    width: 400px;
    height: 300px;
    resize: none;
    outline: none;
    display: inline-block;
    padding: 5px;
    box-sizing: border-box;
    background-color: #f0ede5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-products-container .form-item-textarea {
    margin-bottom: 20px;
}


/*****************************************************************
 *
 * modify-products-container
 *
 ****************************************************************/

.modify-products-container .img-container {
    width: 200px;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 11%;
}

.modify-products-container .form-item-photo {
    margin-top: 15px;
}

.modify-products-container input[type="button"],
.modify-products-container input[type="submit"],
.modify-products-container button {
    border-radius: 4px;
    border: 1px solid #B27100;
    background-color: #ce8300;
    font-size: 18px;
    cursor: pointer;
    line-height: 18px;
    text-align: center;
    outline: none;
    vertical-align: top;
}

.modify-products-container textarea {
    width: 400px;
    height: 300px;
    resize: none;
    outline: none;
    display: inline-block;
    padding: 5px;
    box-sizing: border-box;
    background-color: #f0ede5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modify-products-container .form-item-textarea {
    margin-bottom: 20px;
}


/*****************************************************************
 *
 * delete-products-container
 *
 ****************************************************************/

.delete-products-container .img-container {
    width: 200px;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 11%;
}

.delete-products-container .form-item-photo {
    margin-top: 15px;
}

.delete-products-container .form-control-right {
    line-height: 26px;
}

.delete-products-container .form-lable-left {
    width: 250px;
}

.delete-products-container .form-control-right {
    color: #ffa200;
}

.delete-products-container .form-textarea {
    color: #ffa200;
}

.delete-products-container .delete-btn,
.delete-products-container .cancel-btn {
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    line-height: 32px;
    text-align: center;
    outline: none;
    vertical-align: top;
    height: 36px;
    width: 100px;
}

.delete-products-container .delete-btn {
    border: 1px solid #B27100;
    background-color: #ce8300;
}

.delete-products-container .cancel-btn {
    border: 1px solid #999;
    color: #999;
    background-color: transparent;
}


/*****************************************************************
 *
 * shops-orders-container
 *
 ****************************************************************/

.shops-orders-container .order-form {
    margin-top: 15px;
    text-align: center;
}

.shops-orders-container #chart-container {
	text-align: center;
}

.shops-orders-container #order-list .order-item {
    padding: 15px;
    margin: 15px 0;
    clear: both;
    background-color: #f0ede5;
    position: relative;
}

.shops-orders-container .main {
    margin: 15px 0;
    font-size: 1.3em;
    color: #ffa200;
    padding-bottom: 5px;
    border-bottom: 1px solid #999;
    width: 20%;
}

.shops-orders-container #order-list .order-item .order-id,
.shops-orders-container #order-list .order-item .order-ctime,
.shops-orders-container #order-list .order-item .delete-btn {
    margin: 5px 0;
    display: inline-block;
    vertical-align: middle;
}

.shops-orders-container #order-list .order-item .delete-btn {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(./../images/order-del-btn.png);
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.shops-orders-container #order-list .order-item .order-id {
    width: 15%;
}

.shops-orders-container #order-list .order-item .order-ctime {
    float: right;
    margin-right: 30px;
}

.shops-orders-container #order-list .order-item .brief-info {
    width: 100%;
    background-color: #ffa200;
    padding: 10px 15px 10px 15px;
    margin: -20px -15px 10px -15px;
}

.shops-orders-container #order-list .order-item .color {
    width: 10px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
}

.shops-orders-container #order-list .order-item .value {
    font-weight: bold;
    float: right;
}

.shops-orders-container #order-list .order-item .shop-item {
    margin-top: 15px;
}

.shops-orders-container #order-list .order-item .pic-container {
    width: 15%;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
}

.shops-orders-container #order-list .order-item .origin-price,
.shops-orders-container #order-list .order-item .price,
.shops-orders-container #order-list .order-item .size,
.shops-orders-container #order-list .order-item .quantity,
.shops-orders-container #order-list .order-item .productName,
.shops-orders-container #order-list .order-item .shopId,
.shops-orders-container #order-list .order-item .info,
.shops-orders-container #order-list .order-item .handle-btn {
    display: inline-block;
    margin-left: 0.6%;
    text-align: center;
    vertical-align: middle;
}

.shops-orders-container #order-list .order-item .origin-price .origin {
    font-size: 1em;
}

.shops-orders-container #order-list .order-item .origin-price .current {
    font-size: 1.1em;
}

.shops-orders-container #order-list .order-item .origin-price p {
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.shops-orders-container #order-list .order-item .size .name,
.shops-orders-container #order-list .order-item .quantity .name,
.shops-orders-container #order-list .order-item .productName .name,
.shops-orders-container #order-list .order-item .shopId .name {
    color: #999;
}

.shops-orders-container #order-list .order-item .size .value,
.shops-orders-container #order-list .order-item .quantity .value,
.shops-orders-container #order-list .order-item .productName .value,
.shops-orders-container #order-list .order-item .shopId .value {
    font-size: 2em;
}

.shops-orders-container #order-list .order-item .size p,
.shops-orders-container #order-list .order-item .quantity p,
.shops-orders-container #order-list .order-item .productName p,
.shops-orders-container #order-list .order-item .shopId p {
    text-align: right;
    width: 90px;
}

.shops-orders-container #order-list .order-item .price p {
    text-align: right;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.shops-orders-container #order-list .order-item .price .shop-price {
    font-size: 2em;
    color: #ffa200;
    text-align: right;
}

.shops-orders-container #order-list .order-item .price .delivery-price {
    font-size: 1em;
    color: #999;
}

.shops-orders-container #order-list .order-item .info p {
    text-align: right;
}

.shops-orders-container #order-list .order-item .info .delivery-status a {
    color: #ffa200;
}

.shops-orders-container #order-list .order-item .info .delivery-status a:focus {
    color: #ffa200;
}

.shops-orders-container #order-list .order-item .info .delivery-status .name {
    color: #999;
}

.shops-orders-container #order-list .order-item .info .delivery-status .value {
    float: none;
}

.shops-orders-container #order-list .order-item .handle-btn {
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    background-color: #ffa200;
    cursor: pointer;
    font-size: 1.2em;
}

.shops-orders-container #order-list .order-item .disabled {
    border: 1px solid #e0e0e0 !important;
    background-color: #f0f0f0 !important;
    color: #e0e0e0 !important;
}

.shops-orders-container #order-list .order-item .shopId .value,
.shops-orders-container #order-list .order-item .productName .value {
    width: 80px;
    font-size: 0.8em;
    overflow: hidden;
	word-break: break-all;
}

.shops-orders-container input[type="date"] {
    padding: 5px;
    border-radius: 4px;
    background-color: #ffa200;
    border: none;
    outline: none;
}
