/* CSS Document */
/* CSS Document */

#container{
	margin-left:120px;
	margin-right:auto;
	display:block;
}

#shopinfo{
	height:180px;
	width:200px;
	margin-right:10px;
	padding:5px;
	font:bold 14px;
	display:inline;
	border:solid 5px white;
	color:#999999;
} 

#shopinfo:visited{
	border:solid 5px red;
}
#shopinfo:hover{
	border:solid 5px red;
}
#shopphoto{
	height:100px;
	width:200px;
	background-color:#CCCCCC;
	border:bold 5px white ;
}

#shopname:hover{
	text-decoration:underline;
	color:#FF0000;
}
#footer{
	text-align:center;
}



