/* CSS Document */
#container{
	height:600px;
}
#shopinfo{
	float:left;
	height:180px;
	width:200px;
	margin-right:10px;
	padding:5px;
	font:bold 14px;
	color:#999999;
} 
#shopinfo:hover{
	border:solid 5px red;
}
#shopphoto{
	height:100px;
	width:200px;
	background-color:#CCCCCC;
	border:bold 5px white ;
}

#shopname:hover{
	text-decoration:underline;
	color:#FF0000;
}
