<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
 <display-name>Archetype Created Web Application</display-name>
 <listener>
  <listener-class>com.tmazon.listener.MyServletContextListener</listener-class>
 </listener>
 <listener>
  <listener-class>com.tmazon.listener.MySessionListener</listener-class>
 </listener>
 <servlet>
  <servlet-name>IndexServlet</servlet-name>
  <servlet-class>com.tmazon.servlet.IndexServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>LoginServlet</servlet-name>
  <servlet-class>com.tmazon.servlet.LoginServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>SearchProductServlet</servlet-name>
  <servlet-class>com.tmazon.servlet.SearchProductServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>LogoutServlet</servlet-name>
  <servlet-class>com.tmazon.servlet.LogoutServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>RegisterServlet</servlet-name>
  <servlet-class>com.tmazon.servlet.RegisterServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ShowCartServlet</servlet-name>
  <servlet-class>com.tmazon.servlet.ShowCartServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ShowCartInfoServlet</servlet-name>
  <servlet-class>com.tmazon.servlet.ShowCartInfoServlet</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>ProfitServlet</servlet-name>
 	<display-name>ProfitServlet</display-name>
 	<description></description>
 	<servlet-class>com.tmazon.servlet.ProfitServlet</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>ModifyRate</servlet-name>
 	<display-name>ModifyRate</display-name>
 	<description></description>
 	<servlet-class>com.tmazon.servlet.ModifyRate</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>ModifyRateServlet</servlet-name>
 	<display-name>ModifyRateServlet</display-name>
 	<description></description>
 	<servlet-class>com.tmazon.servlet.ModifyRateServlet</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>ShowRate</servlet-name>
 	<display-name>ShowRate</display-name>
 	<description></description>
 	<servlet-class>com.tmazon.servlet.ShowRate</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>IndexServlet</servlet-name>
  <url-pattern>/index</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>LoginServlet</servlet-name>
  <url-pattern>/login</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SearchProductServlet</servlet-name>
  <url-pattern>/searchProduct</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>LogoutServlet</servlet-name>
  <url-pattern>/logout</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>RegisterServlet</servlet-name>
  <url-pattern>/register</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ShowCartServlet</servlet-name>
  <url-pattern>/cart</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ShowCartInfoServlet</servlet-name>
  <url-pattern>/cartInfo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>ProfitServlet</servlet-name>
 	<url-pattern>/ProfitServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>ModifyRate</servlet-name>
 	<url-pattern>/ModifyRate</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>ModifyRateServlet</servlet-name>
 	<url-pattern>/ModifyRateServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>ShowRate</servlet-name>
 	<url-pattern>/ShowRate</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index</welcome-file>
  
 </welcome-file-list>
</web-app>
