<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>parknshop_1.0</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>IndexServlet</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProductDetailServlet</display-name>
    <servlet-name>ProductDetailServlet</servlet-name>
    <servlet-class>servlet.ProductDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetailServlet</servlet-name>
    <url-pattern>/ProductDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShoppingCartServlet</display-name>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <servlet-class>servlet.ShoppingCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <url-pattern>/ShoppingCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProductServlet</display-name>
    <servlet-name>SearchProductServlet</servlet-name>
    <servlet-class>servlet.SearchProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProductServlet</servlet-name>
    <url-pattern>/SearchProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewProductsServlet</display-name>
    <servlet-name>NewProductsServlet</servlet-name>
    <servlet-class>servlet.NewProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewProductsServlet</servlet-name>
    <url-pattern>/NewProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartAjax</display-name>
    <servlet-name>AddToCartAjax</servlet-name>
    <servlet-class>servlet.AddToCartAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartAjax</servlet-name>
    <url-pattern>/AddToCartAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartRemoveAjax</display-name>
    <servlet-name>CartRemoveAjax</servlet-name>
    <servlet-class>servlet.CartRemoveAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartRemoveAjax</servlet-name>
    <url-pattern>/CartRemoveAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProductByTypeServlet</display-name>
    <servlet-name>SearchProductByTypeServlet</servlet-name>
    <servlet-class>servlet.SearchProductByTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProductByTypeServlet</servlet-name>
    <url-pattern>/SearchProductByTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentServlet</display-name>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>servlet.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/CommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sellBestServlet</display-name>
    <servlet-name>sellBestServlet</servlet-name>
    <servlet-class>servlet.sellBestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sellBestServlet</servlet-name>
    <url-pattern>/sellBestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyHomeServlet</display-name>
    <servlet-name>MyHomeServlet</servlet-name>
    <servlet-class>servlet.MyHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyHomeServlet</servlet-name>
    <url-pattern>/MyHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FaqsServlet</display-name>
    <servlet-name>FaqsServlet</servlet-name>
    <servlet-class>servlet.FaqsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaqsServlet</servlet-name>
    <url-pattern>/FaqsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>servlet.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutServlet</display-name>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>servlet.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/CheckoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AboutUsServlet</display-name>
    <servlet-name>AboutUsServlet</servlet-name>
    <servlet-class>servlet.AboutUsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AboutUsServlet</servlet-name>
    <url-pattern>/AboutUsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UesrLoginServlet</display-name>
    <servlet-name>UesrLoginServlet</servlet-name>
    <servlet-class>servlet.UesrLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UesrLoginServlet</servlet-name>
    <url-pattern>/UesrLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginAjax</display-name>
    <servlet-name>UserLoginAjax</servlet-name>
    <servlet-class>servlet.UserLoginAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginAjax</servlet-name>
    <url-pattern>/UserLoginAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogoutAjax</display-name>
    <servlet-name>UserLogoutAjax</servlet-name>
    <servlet-class>servlet.UserLogoutAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogoutAjax</servlet-name>
    <url-pattern>/UserLogoutAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartCountAjax</display-name>
    <servlet-name>CartCountAjax</servlet-name>
    <servlet-class>servlet.CartCountAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartCountAjax</servlet-name>
    <url-pattern>/CartCountAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutEndServlet</display-name>
    <servlet-name>CheckoutEndServlet</servlet-name>
    <servlet-class>servlet.CheckoutEndServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutEndServlet</servlet-name>
    <url-pattern>/CheckoutEndServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyOrderServlet</display-name>
    <servlet-name>MyOrderServlet</servlet-name>
    <servlet-class>servlet.MyOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyOrderServlet</servlet-name>
    <url-pattern>/MyOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegisteredAjax</display-name>
    <servlet-name>UserRegisteredAjax</servlet-name>
    <servlet-class>servlet.UserRegisteredAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisteredAjax</servlet-name>
    <url-pattern>/UserRegisteredAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckNameAjax</display-name>
    <servlet-name>CheckNameAjax</servlet-name>
    <servlet-class>servlet.CheckNameAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckNameAjax</servlet-name>
    <url-pattern>/CheckNameAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToFavoriteAjax</display-name>
    <servlet-name>AddToFavoriteAjax</servlet-name>
    <servlet-class>servlet.AddToFavoriteAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToFavoriteAjax</servlet-name>
    <url-pattern>/AddToFavoriteAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentEndServlet</display-name>
    <servlet-name>CommentEndServlet</servlet-name>
    <servlet-class>servlet.CommentEndServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentEndServlet</servlet-name>
    <url-pattern>/CommentEndServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmGoodAjax</display-name>
    <servlet-name>ConfirmGoodAjax</servlet-name>
    <servlet-class>servlet.ConfirmGoodAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmGoodAjax</servlet-name>
    <url-pattern>/ConfirmGoodAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAccountAjax</display-name>
    <servlet-name>UserAccountAjax</servlet-name>
    <servlet-class>servlet.UserAccountAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAccountAjax</servlet-name>
    <url-pattern>/UserAccountAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserOrderRemoveAjax</display-name>
    <servlet-name>UserOrderRemoveAjax</servlet-name>
    <servlet-class>servlet.UserOrderRemoveAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserOrderRemoveAjax</servlet-name>
    <url-pattern>/UserOrderRemoveAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddproductServlet</servlet-name>
    <servlet-class>com.seller.servlet.AddproductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteproductServlet</servlet-name>
    <servlet-class>com.seller.servlet.DeleteproductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ModifyProductServlet</servlet-name>
    <servlet-class>com.seller.servlet.ModifyProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchorderServlet</servlet-name>
    <servlet-class>com.seller.servlet.SearchorderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeliveryproductServlet</servlet-name>
    <servlet-class>com.seller.servlet.DeliveryproductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowcommentsServlet</servlet-name>
    <servlet-class>com.seller.servlet.ShowcommentsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SellerLoginServlet</servlet-name>
    <servlet-class>com.seller.servlet.SellerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddproductServlet</servlet-name>
    <url-pattern>/servlet/AddproductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteproductServlet</servlet-name>
    <url-pattern>/servlet/DeleteproductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyProductServlet</servlet-name>
    <url-pattern>/servlet/ModifyProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchorderServlet</servlet-name>
    <url-pattern>/servlet/SearchorderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeliveryproductServlet</servlet-name>
    <url-pattern>/servlet/DeliveryproductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowcommentsServlet</servlet-name>
    <url-pattern>/servlet/ShowcommentsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SellerLoginServlet</servlet-name>
    <url-pattern>/servlet/SellerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>admin.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RateServlet</servlet-name>
    <servlet-class>admin.servlet.RateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RateServlet</servlet-name>
    <url-pattern>/RateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PwdServlet</servlet-name>
    <servlet-class>admin.servlet.PwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PwdServlet</servlet-name>
    <url-pattern>/PwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddProductTypeServlet</servlet-name>
    <servlet-class>admin.servlet.AddProductTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductTypeServlet</servlet-name>
    <url-pattern>/AddProductTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>admin.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomersServlet</servlet-name>
    <servlet-class>admin.servlet.CustomersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomersServlet</servlet-name>
    <url-pattern>/CustomersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>admin.servlet.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/CustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommentsServlet</servlet-name>
    <servlet-class>admin.servlet.CommentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentsServlet</servlet-name>
    <url-pattern>/CommentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminCommentServlet</servlet-name>
    <servlet-class>admin.servlet.AdminCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCommentServlet</servlet-name>
    <url-pattern>/AdminCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShopsServlet</servlet-name>
    <servlet-class>admin.servlet.ShopsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopsServlet</servlet-name>
    <url-pattern>/ShopsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShopServlet</servlet-name>
    <servlet-class>admin.servlet.ShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopServlet</servlet-name>
    <url-pattern>/ShopServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrdersServlet</servlet-name>
    <servlet-class>admin.servlet.OrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdersServlet</servlet-name>
    <url-pattern>/OrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>admin.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductsServlet</servlet-name>
    <servlet-class>admin.servlet.ProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductsServlet</servlet-name>
    <url-pattern>/ProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>admin.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConsigneeServlet</servlet-name>
    <servlet-class>admin.servlet.ConsigneeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsigneeServlet</servlet-name>
    <url-pattern>/ConsigneeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ADsServlet</servlet-name>
    <servlet-class>admin.servlet.ADsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADsServlet</servlet-name>
    <url-pattern>/ADsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ADServlet</servlet-name>
    <servlet-class>admin.servlet.ADServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADServlet</servlet-name>
    <url-pattern>/ADServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IncomeServlet</servlet-name>
    <servlet-class>admin.servlet.IncomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncomeServlet</servlet-name>
    <url-pattern>/IncomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IServlet</servlet-name>
    <servlet-class>admin.servlet.IServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IServlet</servlet-name>
    <url-pattern>/IServlet</url-pattern>
  </servlet-mapping>
</web-app>