.ks-dialog, .ks-overlay {
	position: absolute;
	left: -9999px;
	top: -9999px
}

.ks-dialog, .ks-popup {
	background-color: #FBFBFB;
	border: 1px solid #ACB4BE
}

.ks-dialog .ks-stdmod-header {
	background: repeat-x scroll 0 0 #d6dbe2;
	border-bottom: 1px solid #ACB4BE;
	font-size: 14px;
	font-weight: 700;
	height: 30px;
	line-height: 30px;
	padding: 0 0 0 18px
}

.ks-ext-close {
	height: 18px;
	width: 18px;
	border: 1px solid transparent;
	right: 6px;
	top: 6px;
	vertical-align: middle;
	position: absolute;
	text-decoration: none;
	outline: 0;
	_border-color: tomato;
	_filter: chroma(color = #ff6347);
	overflow: hidden;
	cursor: pointer
}

.ks-ext-close .ks-ext-close-x {
	display: block;
	background: no-repeat;
	background-image:
		url(http://img03.taobaocdn.com/tps/i3/T1NubUXXdoXXX1azE.-13-13.png);
	height: 13px;
	text-indent: -9999px;
	width: 13px;
	margin: 2.5px
}

.ks-ext-close:hover {
	border: 1px solid #CED5E0;
	background: #fff
}

.ks-ext-mask {
	background-color: #000;
	opacity: .3;
	filter: alpha(opacity = 15)
}

.ks-ext-loading {
	opacity: .3;
	filter: alpha(opacity = 15);
	background: #000 center center no-repeat scroll
}

.ke-global-loading .ks-ext-loading {
	background-attachment: fixed
}

.reply-dialog {
	background: #7f7f7f;
	position: absolute;
	top: -9999px;
	left: -9999px;
	padding: 9px
}

.reply-dialog .ks-contentbox {
	background: #fff
}

.reply-dialog .ks-ext-close {
	right: 15px;
	top: 15px
}

.reply-dialog .ks-stdmod-header {
	display: none
}

.reply-dialog .ks-stdmod-body {
	background: #fff;
	padding: 30px 26px 0
}

.reply-dialog .text-reply {
	border: #ccc 1px solid;
	width: 570px;
	height: 100px;
	display: block;
	padding: 5px
}

.reply-dialog .form-body {
	position: relative;
	height: 110px;
	width: 580px
}

.reply-dialog .count-indicator {
	position: absolute;
	bottom: 0;
	right: 20px;
	z-index: 10
}

.reply-dialog .reply-tip {
	padding: 10px;
	color: #f60;
	text-align: center
}

.reply-dialog .reply-arrow, .reply-dialog .reply-arrow2 {
	font-size: 0;
	line-height: 0
}

.reply-dialog .reply-arrow {
	position: absolute;
	border: 9px dashed transparent;
	border-bottom: 9px solid #7f7f7f;
	top: -18px;
	left: 50px
}

.reply-dialog .reply-arrow2 {
	position: absolute;
	border: 9px dashed transparent;
	border-bottom: 9px solid #fff;
	top: -9px;
	left: 50px
}

.form-foot {
	padding: 10px 0
}

.reply-dialog .submit {
	float: right;
	font-size: 14px;
	padding: 6px 15px;
	margin: 0 0 10px 10px;
	border: 0;
	color: #fff;
	font-weight: 700;
	background: #f95;
	background: -moz-linear-gradient(top, #f95 0, #ff6d0c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f95),
		color-stop(100%, #ff6d0c));
	background: -webkit-linear-gradient(top, #f95 0, #ff6d0c 100%);
	background: -o-linear-gradient(top, #f95 0, #ff6d0c 100%);
	background: -ms-linear-gradient(top, #f95 0, #ff6d0c 100%);
	background: linear-gradient(to bottom, #f95 0, #ff6d0c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9955',
		endColorstr='#ff6d0c', GradientType=0)
}

.reply-dialog .submit:hover {
	background: #f7f7f7;
	background: #ffccad;
	background: -moz-linear-gradient(top, #ffccad 0, #ff9859 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffccad),
		color-stop(100%, #ff9859));
	background: -webkit-linear-gradient(top, #ffccad 0, #ff9859 100%);
	background: -o-linear-gradient(top, #ffccad 0, #ff9859 100%);
	background: -ms-linear-gradient(top, #ffccad 0, #ff9859 100%);
	background: linear-gradient(to bottom, #ffccad 0, #ff9859 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffccad',
		endColorstr='#ff9859', GradientType=0)
}

.reply-dialog .submit:active {
	background: #ff6d0c
}

#main-content {
	padding: 10px
}

.personal-info .personal-rating h4, .personal-info .skin-gray .waring,
	.faq li, .personal-info .rate-summary li {
	background: url(http://a.tbcdn.cn/app/rc/img/icon.png) no-repeat scroll
		1000px 1000px
}

.rate-icon {
	background: url(http://a.tbcdn.cn/app/rc/img/icon_v2.gif) no-repeat
		scroll 1000px 1000px
}

.personal-info .seller-rate-info .scroller {
	background: url(http://a.tbcdn.cn/app/rc/img/rate_scroller_bar.png)
		no-repeat scroll 1000px 1000px
}

.personal-info .seller-rate-info .scroller em {
	background: url(http://a.tbcdn.cn/app/rc/img/rate_scroller_ball.png)
		no-repeat scroll 1000px 1000px
}

#new-rate-content .personal-rating .seller-rate-info .scroller {
	background:
		url(http://a.tbcdn.cn/app/rc/img/rate_scroller_bar_short.png)
		no-repeat scroll 1000px 1000px
}

.rate-ok {
	background-position: -237px -104px
}

.rate-normal {
	background-position: -236px -244px
}

.rate-bad {
	background-position: -237px -174px;
	padding-left: 22px
}

.skin-gray .box .hd h4 {
	line-height: 21px;
	height: 21px;
	margin-left: 10px;
	font-size: 12px;
	font-weight: 700;
	color: #000
}

.faq li {
	background-position: -197px -261px;
	padding-left: 10px;
	line-height: 18px
}

.faq-v2 {
	padding: 5px;
	background: #F8F8F8;
	margin: 0 auto 10px auto
}

.faq-v2 li {
	float: left;
	margin-right: 2em
}

.rate-service {
	color: #333;
	background: #ffffe6;
	padding: 10px 5px;
	padding: 10px 0 10px 10px;
	border-top: 1px dotted #ccc;
	line-height: 16px;
	margin-top: 10px
}

.rate-service em {
	color: #f60;
	font-weight: 700
}

.rate-service p {
	margin: 5px 0
}

.rate-service .act {
	margin: 5px 0;
	text-align: center
}

.icon-review-gift {
	background:
		url(http://img04.taobaocdn.com/tps/i4/T1e5OTXg8lXXXXXXXX-16-15.png) 0
		0 no-repeat;
	padding: 1px 0 1px 18px
}

.rate-service .act .btn, .rate-service .act .short-btn {
	font-weight: 400
}

.c-value-no em, .c-value-no, .mini-star em, .mini-star {
	background: url(http://a.tbcdn.cn/app/rc/img/star.png) no-repeat scroll
		1000px 1000px
}

.c-value-no, .mini-star {
	display: inline-block;
	_display: inline;
	_zoom: 1;
	width: 60px;
	height: 10px;
	position: relative;
	background-position: 0 -232px
}

.c-value-no em, .mini-star em {
	position: absolute;
	top: 0;
	left: 0;
	height: 10px;
	line-height: 10px;
	width: 0;
	background-position: 0 -246px;
	text-indent: -999em
}

.c-value-0d5 em, .c-value-0d4 em, .c-value-0d3 em, .c-value-0d2 em,
	.c-value-0d1 em, .c-value-0 em {
	width: 0
}

.c-value-1d4 em, .c-value-1d3 em, .c-value-1d2 em, .c-value-1d1 em,
	.c-value-1 em, .c-value-0d9 em, .c-value-0d8 em, .c-value-0d7 em,
	.c-value-0d6 em, .mini-star-1 em {
	width: 20%
}

.c-value-1d9 em, .c-value-1d8 em, .c-value-1d7 em, .c-value-1d6 em,
	.c-value-1d5 em, .mini-star-1d5 em {
	width: 30%
}

.c-value-2d4 em, .c-value-2d3 em, .c-value-2d2 em, .c-value-2d1 em,
	.c-value-2 em, .mini-star-2 em {
	width: 40%
}

.c-value-2d9 em, .c-value-2d8 em, .c-value-2d7 em, .c-value-2d6 em,
	.c-value-2d5 em, .mini-star-2d5 em {
	width: 50%
}

.c-value-3d4 em, .c-value-3d3 em, .c-value-3d2 em, .c-value-3d1 em,
	.c-value-3 em, .mini-star-3 em {
	width: 60%
}

.c-value-3d9 em, .c-value-3d8 em, .c-value-3d7 em, .c-value-3d6 em,
	.c-value-3d5 em, .mini-star-3d5 em {
	width: 70%
}

.c-value-4d4 em, .c-value-4d3 em, .c-value-4d2 em, .c-value-4d1 em,
	.c-value-4 em, .mini-star-4 em {
	width: 80%
}

.c-value-4d9 em, .c-value-4d8 em, .c-value-4d7 em, .c-value-4d6 em,
	.c-value-4d5 em, .mini-star-4d5 em {
	width: 90%
}

.c-value-5 em, .mini-star-5 em {
	width: 100%
}

.personal-info {
	margin: 10px 0
}

.personal-info .skin-gray {
	width: 235px;
	margin-right: 20px;
	float: left
}

.personal-info .skin-gray .bd {
	background: #fff;
	padding-top: 5px;
	padding-bottom: 5px
}

.personal-info .skin-gray .bd h5 {
	margin: 5px 0
}

.personal-info .skin-gray .bd dt, .personal-info .skin-gray .bd dd {
	line-height: 22px
}

.personal-info .skin-gray .bd dd a {
	margin-right: 3px
}

.personal-info .skin-gray .bd dd .total {
	font-size: 9px
}

.personal-info .skin-gray .bd dd .mini-star {
	margin: 0 2px
}

.personal-info .skin-gray .bd dt {
	float: left;
	clear: both;
	width: 5em;
	*width: 6em;
	text-align: right
}

.personal-info .skin-gray .bd dd {
	border: 1px solid white;
	overflow: hidden;
	*zoom: 1
}

.personal-info .skin-gray .summary {
	margin: 2px 0 10px 0;
	width: 100%
}

.personal-info .skin-gray .summary li {
	float: left;
	width: 33%;
	text-align: center
}

.personal-info .skin-gray .summary li em {
	font-size: 9px;
	color: #f60;
	margin-left: 2px
}

.personal-info .faq {
	border-top: 1px dotted #ccc;
	padding-top: 10px
}

.personal-info .faq li {
	margin-bottom: 2px
}

.personal-info .personal-rating {
	float: left
}

.personal-info .personal-rating h4 {
	font-weight: 700;
	color: #000;
	padding-left: 2em;
	width: 400px;
	overflow: hidden;
	line-height: 18px;
	height: 18px;
	margin-bottom: 5px
}

.rate-icon-personal {
	padding-left: 20px;
	background-position: -95px -143px
}

.personal-info .personal-rating h4.rate-icon-shop {
	background-position: -96px -178px
}

.personal-info .personal-rating h4 a {
	
}

.personal-info .personal-rating h4.seller {
	background-position: 0 -35px
}

.personal-info .personal-rating h4.buyer {
	background-position: -482px -35px
}

.personal-info .rate-summary {
	text-align: right;
	line-height: 18px;
	height: 18px;
	margin-top: -23px;
	margin-bottom: 5px
}

.personal-info .rate-summary li.credit {
	padding-left: 10px;
	background-position: -2px -357px
}

.personal-info .rate-summary li.credit .sale-type li {
	background: 0;
	padding-left: 10px
}

.personal-info .rate-summary strong {
	color: #f60
}

.personal-info .rate-summary strong span {
	font-size: 9px
}

.personal-info .skin-gray .rate-summary {
	*width: 162px;
	border-top: 1px dotted #ccc;
	padding: 5px 0;
	height: auto;
	margin: 5px 0 0 0
}

.personal-info .skin-gray .rate-summary li {
	float: none;
	text-align: left
}

.personal-info .skin-gray .waring {
	border-top: 1px dotted #ccc;
	padding: 10px 0 10px 18px;
	text-align: justify;
	background-position: -481px -95px
}

.personal-info .personal-rating table {
	width: 535px;
	border-left: 1px solid #d7d7d7;
	border-top: 1px solid #d7d7d7;
	margin-bottom: 10px;
	zoom: 1
}

.personal-info-fullwidth .personal-rating table {
	width: 695px
}

.personal-info .personal-rating table th, .personal-info .personal-rating table td
	{
	text-align: center;
	border-right: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	padding: 5px
}

.personal-info .personal-rating table.seller-rate-info th {
	background-color: #f4ffed
}

.personal-info .personal-rating table.buyer-rate-info th {
	background-color: #f8f8f8
}

.personal-info .personal-rating table.seller-rate-info .total {
	padding-left: 10px
}

.personal-info .personal-rating table.seller-rate-info .progress,
	.personal-info .personal-rating table.buyer-rate-info .progress {
	display: inline-block;
	width: 83px;
	height: 10px;
	position: relative
}

.personal-info .personal-rating table.seller-rate-info .progress em,
	.personal-info .personal-rating table.buyer-rate-info .progress em {
	font-size: 0;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff2bf;
	height: 10px;
	text-indent: -999em
}

.personal-info .personal-rating td .rate-icon {
	height: 18px;
	line-height: 18px;
	padding-left: 20px;
	display: inline-block;
	width: 30px
}

.personal-info .seller-rate-info {
	border: 1px solid #d7d7d7
}

.personal-info .seller-rate-info .text {
	width: 200px;
	border: 0;
	padding: 5px 10px 5px 15px;
	text-align: left;
	vertical-align: top
}

.personal-info .seller-rate-info .text .title {
	color: #000;
	line-height: 25px
}

.personal-info .seller-rate-info .text em {
	font-weight: 700;
	color: #000
}

.personal-info .seller-rate-info .graph {
	text-align: left;
	border: 0;
	padding: 10px 5px 0
}

.personal-info .seller-rate-info .scroller {
	display: block;
	margin: 0 5px;
	width: 430px;
	height: 44px;
	text-align: left;
	background-position: 15px bottom
}

.personal-info .seller-rate-info .scroller p {
	display: block;
	padding-left: 30px;
	height: 22px;
	width: 400px
}

.personal-info .seller-rate-info .scroller span {
	display: block;
	height: 22px;
	width: 0
}

.personal-info .seller-rate-info .scroller em {
	display: block;
	float: right;
	padding-top: 1px;
	height: 22px;
	width: 30px;
	text-align: center;
	color: #fff;
	background-position: right top
}

.personal-info .seller-rate-info .scroller span.c-value-0 {
	display: none;
	width: 30px;
	margin-left: -30px
}

.personal-info .seller-rate-info .desc div {
	padding: 5px 0 5px 290px;
	background-color: #f8f8f8;
	overflow: hidden;
	zoom: 1
}

.personal-info .seller-rate-info .desc li {
	display: block;
	float: left;
	width: 80px;
	text-align: center
}

.personal-info .box .hd {
	background: url(http://a.tbcdn.cn/sys/common/img/box_bg.png) no-repeat
}

.personal-info .box .hd {
	height: 21px;
	border: 1px solid #ccc;
	border-bottom: 0;
	background: #fbfbfb repeat-x 0 -7px;
	overflow: visible
}

.personal-info .box .bd {
	padding: 7px;
	border-width: 1px
}

.eshop .rate-tab li a:hover {
	color: #000
}

.eshop .rate-tab li.selected a:hover {
	color: #fff
}

#new-rate-content .personal-info table {
	width: 595px
}

#new-rate-content .personal-info .skin-gray {
	margin-right: 10px;
	width: 184px
}

#new-rate-content .personal-info .seller-rate-info .text {
	padding-right: 0;
	padding-left: 10px
}

#new-rate-content .personal-info .seller-rate-info .scroller {
	width: 370px;
	background-position: 15px bottom
}

#new-rate-content .personal-info .seller-rate-info .scroller p {
	width: 340px
}

#new-rate-content .personal-info .seller-rate-info .desc div {
	padding-left: 240px
}

#new-rate-content .personal-info .seller-rate-info .desc li {
	width: 68px
}

.rate-tab li, .rate-tab li a, .rate-tab li a span {
	background: url(http://a.tbcdn.cn/app/rc/img/tab.png) no-repeat scroll
		1000px 1000px
}

.rate-tab li, .rate-tab li a, .rate-tab li span {
	display: block;
	height: 29px;
	line-height: 29px
}

.rate-list {
	margin-top: 30px
}

.rate-tab {
	border-bottom: 2px solid #0266fd
}

.rate-tab li {
	float: left;
	margin-right: 5px;
	background-position: 0 -147px;
	padding-left: 4px;
	position: relative
}

.rate-tab li .icon-new {
	position: absolute;
	right: -3px;
	top: -3px
}

.rate-tab li .tab-tip {
	position: absolute;
	bottom: -15px;
	right: -285px
}

.rate-tab li a span {
	background-position: right -196px;
	background-repeat: repeat-x;
	padding: 0 10px
}

.rate-tab li a {
	padding-right: 4px;
	background-position: right -245px;
	color: #000
}

.rate-tab li a:hover {
	text-decoration: none
}

.rate-tab li.selected {
	background-position: 0 0
}

.rate-tab li.selected a {
	background-position: right -98px;
	font-weight: 700;
	color: #fff
}

.rate-tab li.selected a span {
	background-position: 0 -49px;
	background-repeat: repeat-x
}

.rate-tab-orange {
	border-color: #ff8c40
}

.rate-tab-orange li.selected {
	background-position: 0 -293px
}

.rate-tab-orange li.selected a {
	background-position: right -395px
}

.rate-tab-orange li.selected a span {
	background-position: 0 -344px
}

.rate-select {
	text-align: right;
	margin: 3px 0;
	padding-bottom: 3px;
	padding-top: 3px
}

.popup-tips, .popup-tips-small {
	position: absolute;
	z-index: 999;
	background: url(http://a.tbcdn.cn/app/rc/img/tips.png) no-repeat 0 0;
	border: 0;
	width: 120px;
	height: 55px;
	padding: 15px 0 10px 15px
}

.popup-tips-small {
	background-position: 0 -96px;
	height: 35px
}

.popup-tips h5 {
	font-weight: 400;
	color: #999;
	margin-bottom: 2px
}

.popup-tips p {
	color: #000;
	line-height: 18px
}

.popup-tips em {
	color: #f60;
	font-style: normal
}

.show-rate-table {
	table-layout: fixed;
	width: 840px
}

#mytaobao-panel .show-rate-table {
	width: 830px
}

.show-rate-table tfoot td, .show-rate-table th {
	background: #f8f8f8
}

.show-rate-table tfoot td {
	text-align: right
}

.show-rate-table th.ratee, .show-rate-table th.things, .show-rate-table .operate
	{
	text-align: center
}

.show-rate-table th {
	padding: 5px;
	border-bottom: 1px solid #d5d5d5
}

.show-rate-table th.rate {
	text-align: center
}

.show-rate-table th.comment {
	padding-left: 10px
}

.show-rate-table th.comment .icon-hot {
	background:
		url(http://img02.taobaocdn.com/tps/i2/T1hminXjJPXXXXXXXX-21-14.png) 0
		0 no-repeat;
	width: 21px;
	height: 14px;
	display: inline-block;
	position: relative;
	left: -60px;
	top: -5px
}

.show-rate-table td {
	vertical-align: top;
	padding-top: 10px
}

.show-rate-table th.ratee, .show-rate-table th.things {
	text-align: left;
	padding-left: 10px
}

.show-rate-table td {
	padding: 5px 10px;
	border-bottom: 1px solid #d5d5d5
}

.show-rate-table td.rate {
	width: 60px;
	padding: 5px 0
}

.show-rate-table .time-left {
	color: #555
}

.show-rate-table td .btn {
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 5px
}

.show-rate-table td.rate {
	text-align: center
}

.show-rate-table td.rate span {
	display: block
}

.show-rate-table td.rate span.rate-icon {
	width: 20px;
	height: 1em;
	padding: 5px 0 0 0;
	margin: 5px auto;
	text-indent: -999em;
	color: #999
}

.show-rate-table td.rate .result {
	text-align: center
}

.show-rate-table td.rate .effecting {
	color: #f60
}

.show-rate-table td.rate .no-effect {
	font-size: 10px;
	color: #999
}

.show-rate-table .date {
	color: #999
}

.show-rate-table p.rate {
	margin-top: 5px;
	max-width: 360px;
	word-wrap: break-word;
	margin-bottom: 2px;
	line-height: 18px;
	text-align: justify;
	overflow: hidden;
	*overflow: auto
}

.show-rate-table p.rate a, .show-rate-table p.exp .link,
	.show-rate-table p.rate .link {
	white-space: nowrap;
	margin-right: 5px
}

.show-rate-table p.exp a {
	margin-right: 5px
}

.show-rate-table p.exp {
	color: #960;
	margin-top: 10px;
	word-wrap: break-word;
	overflow: hidden;
	*overflow: auto
}

.show-rate-table .price {
	display: block;
	line-height: 18px
}

.show-rate-table .price em {
	color: #f60;
	margin: 0 2px
}

.show-rate-table .things {
	width: 300px
}

.table-foot {
	*zoom: 1;
	margin: 10px 0
}

.table-foot:after {
	content: '\0020';
	display: block;
	height: 0;
	clear: both
}

.personal-info .rate-summary {
	*width: 535px
}

.personal-info-fullwidth .rate-summary {
	*width: 695px
}

.rate-tab li a, .rate-tab li a span {
	*float: left;
	*cursor: pointer
}

* html .personal-info .skin-gray .bd dt {
	clear: left
}

* html .personal-info .skin-gray .bd dl {
	position: relative
}

#new-rate-content {
	*overflow: hidden
}

#new-rate-content .personal-info {
	margin: 0
}

#new-rate-content .personal-info .skin-gray {
	width: 169px
}

#new-rate-content .personal-info .personal-rating {
	width: 565px
}

#new-rate-content .personal-info table {
	width: 100%
}

#new-rate-content .personal-info .seller-rate-info .desc div {
	padding-left: 230px
}

#new-rate-content .personal-info .personal-rating table td {
	padding: 5px 0
}

#new-rate-content .personal-info .seller-rate-info td.desc {
	padding: 0
}

.OkMsg {
	padding: 5px 5px 5px 25px;
	border: 1px solid #00BE00;
	background: #e6ffe6
		url(http://pics.taobao.com/2k5/sys/component/standard_msg_ok.gif) 5px
		5px no-repeat;
	color: #000
}

.WarningMsg {
	padding: 5px 5px 5px 25px;
	border: 1px solid #00A8FF;
	background: #e2f5ff
		url(http://pics.taobao.com/2k5/sys/component/standard_msg_warning.gif)
		5px 5px no-repeat;
	color: #000
}

.ErrorMsg {
	padding: 5px 5px 5px 25px;
	border: 1px solid #F60;
	background: #fff2e9
		url(http://pics.taobao.com/2k5/sys/component/standard_msg_error.gif)
		5px 5px no-repeat;
	color: #000
}

.HintMsg {
	padding: 5px 5px 5px 5px;
	border: 1px solid #FFF;
	background-color: transparent;
	background-image: none;
	color: #999
}

.HintMsg a:link, .HintMsg a:visited {
	color: #666;
	text-decoration: none
}

.eshop #hd {
	margin-bottom: 0
}

.personal-info .skin-gray {
	margin-right: 19px
}

.personal-rating {
	width: 696px;
	overflow: hidden
}

.personal-rating .box {
	margin-bottom: 10px
}

.personal-rating .box .hd h4 {
	height: 21px;
	margin-bottom: 0;
	padding-left: 10px;
	line-height: 21px
}

.personal-rating .box .bd {
	width: 694px;
	overflow: hidden;
	padding: 0;
	background: #f4f9ff
}

.personal-rating .bd .con {
	margin-bottom: -1px;
	padding-top: 10px
}

.personal-rating .bd .con h4 {
	position: relative;
	left: 10px;
	z-index: 1
}

.personal-rating .bd .con table {
	background: #fff
}

.personal-rating .bd .con .service-info {
	padding-left: 90px;
	color: #666;
	background:
		url(http://img01.taobaocdn.com/tps/i1/T1jchlXmuOFJNXXXXX-200-140.png)
		no-repeat 0 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc
}

.personal-rating .bd .con .non-join {
	background-position: -110px 0
}

.personal-rating .con .service-info ul {
	position: relative;
	min-height: 90px;
	_height: 90px;
	padding: 0 10px;
	background: #fff;
	border-left: 1px solid #ccc
}

.personal-rating .service-info li {
	height: 14px;
	padding: 4px 0
}

.personal-rating .service-info li label {
	cursor: text
}

.personal-rating .service-info li em {
	color: #f60
}

.personal-rating .service-info .effort {
	height: 20px;
	padding: 4px 0;
	padding-left: 60px;
	width: 230px;
	position: relative
}

.personal-rating .service-info .effort label {
	position: absolute;
	top: 8px;
	left: 0
}

.personal-rating .service-info .effort a {
	display: inline-block;
	height: 18px;
	margin-right: 5px;
	line-height: 18px;
	color: #666;
	border-bottom: 1px solid #fff
}

.personal-rating .service-info .effort a:hover {
	color: #f60;
	text-decoration: none;
	border-bottom: 1px solid #f60
}

.personal-rating .service-info .effort a span {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 2px;
	background-image:
		url(http://img01.taobaocdn.com/tps/i1/T1eCRkXeQgC0Pg9ykn-498-250.png);
	background-repeat: no-repeat
}

.personal-rating .service-info .effort .xb-truth span {
	background-position: -188px 0
}

.personal-rating .service-info .effort .xb-auth span {
	background-position: -338px 0
}

.personal-rating .service-info .effort .xb-return span {
	background-position: -156px 0
}

.personal-rating .service-info .effort .xb-quality span {
	background-position: -140px 0
}

.personal-rating .service-info .effort .xb-thunder span {
	background-position: -297px 0
}

.personal-rating .service-info .effort .xb-guarantee span {
	background-position: -319px 0
}

.personal-rating .service-info li.punish {
	width: 514px
}

.personal-rating .con .punish {
	position: relative;
	height: auto;
	padding-left: 60px;
	overflow: hidden
}

.personal-rating .con .punish label {
	position: absolute;
	top: 8px;
	left: 0;
	width: 60px;
	margin: 0;
	text-align: right
}

.personal-rating .con .punish em {
	display: block;
	width: 230px;
	margin-bottom: 5px;
	overflow: hidden;
	word-wrap: break-word;
	color: #f60
}

.personal-rating .service-info .query {
	position: absolute;
	top: 50px;
	right: 10px;
	width: 140px
}

.personal-rating .service-info .query span {
	position: absolute;
	top: 0;
	right: 0;
	width: 140px;
	height: 14px;
	padding: 7px 0;
	text-indent: 15px;
	background: #f8f8f8
		url(http://img01.taobaocdn.com/tps/i1/T1jchlXmuOFJNXXXXX-200-140.png)
		no-repeat 20px -92px;
	border: 1px solid #ccc;
	cursor: pointer
}

.personal-rating .service-info .query .quality-info {
	display: none;
	position: absolute;
	top: 31px;
	_top: 32px;
	right: 0;
	width: 240px;
	padding: 5px;
	background: #e8e8e8;
	border: 1px solid #666
}

.personal-rating .service-info .query .quality-info p {
	text-indent: 12px;
	line-height: 22px;
	background: #fff
}

.personal-rating .service-info .query .quality-info .corner {
	position: absolute;
	top: -6px;
	right: 10px;
	width: 10px;
	height: 6px;
	background:
		url(http://img01.taobaocdn.com/tps/i1/T1jchlXmuOFJNXXXXX-200-140.png)
		no-repeat -96px -134px;
	border: 0
}

.personal-rating .service-info .query:hover .quality-info,
	.personal-rating .service-info .hover .quality-info {
	display: block
}

.personal-rating .bd .con .show-quality li {
	height: auto
}

.personal-rating .bd .con .show-quality {
	padding-left: 102px;
	background-color: #fff;
	background-image:
		url(http://img04.taobaocdn.com/tps/i4/T13HxsXcXbXXXXXXXX-210-140.png)
}

.personal-rating .bd .con .non-join {
	background-position: -110px 0
}

.personal-rating .bd .con .show-quality ul {
	min-height: 102px;
	_height: 102px
}

.personal-rating .bd .con .service-info .quality-info-box {
	position: absolute;
	top: 0;
	right: 1px;
	width: 280px;
	padding: 0
}

.personal-rating .show-quality .quality-info-box .quality-info {
	width: 280px;
	height: 102px;
	overflow: hidden;
	padding-left: 1px;
	border-bottom: 1px solid #d7d7d7
}

.personal-rating .service-info .quality-info-box table {
	width: 280px;
	margin-top: -1px
}

.personal-rating .service-info .quality-info-box th, .personal-rating .service-info .quality-info-box td
	{
	border: 1px solid #D7D7D7;
	height: 25px;
	line-height: 25px;
	padding: 0
}

.personal-rating .service-info .quality-info-box th {
	background-color: #F8F8F8
}

.personal-rating .service-info .quality-info-box .qatype a {
	color: #04D;
	border-bottom: 1px dashed #04d;
	text-decoration: none
}

.personal-rating .service-info .quality-info-box .qadetail {
	text-align: left;
	padding-left: 6px;
	border-right-width: 0;
	_border-right-width: 1px
}

.personal-rating .service-info .quality-info-box .quality-info-tip {
	position: absolute;
	top: 110px;
	left: 10px;
	width: 260px;
	background-color: #F0F0F0;
	display: none;
	border: 1px solid #999
}

.personal-rating .service-info .quality-info-box .tip1 {
	top: 53px
}

.personal-rating .service-info .quality-info-box .tip2 {
	top: 79px
}

.personal-rating .service-info .quality-info-box .tip3 {
	top: 105px
}

.personal-rating .service-info .quality-info-box .quality-info-tip .horn
	{
	position: absolute;
	top: -6px;
	left: 10px;
	width: 10px;
	height: 6px;
	background:
		url(http://img01.taobaocdn.com/tps/i1/T1jchlXmuOFJNXXXXX-200-140.png)
		no-repeat -96px -134px;
	border: 0
}

.personal-rating .service-info .quality-info-box .qatype:hover .quality-info-tip
	{
	display: block
}

.personal-rating .service-info .quality-info-box .quality-info-tip p {
	padding: 2px 8px;
	margin: 4px;
	background-color: #fff;
	text-align: left
}

.personal-rating .con .rate-summary {
	width: 690px
}

.personal-rating .con table {
	margin-bottom: 0;
	border-left: 0
}

.personal-rating .con p.punish {
	width: 100%;
	margin-left: 15px;
	padding-top: 8px;
	padding-bottom: 8px
}

.personal-rating .con p.punish label {
	cursor: text
}

.tb-r-photos {
	margin: 10px 0;
	zoom: 1
}

.tb-r-photos li {
	float: left;
	border: 1px solid #ccc;
	margin-right: 5px;
	position: relative;
	transition: border-color .3s ease-out;
	-webkit-transition: border-color .3s ease-out;
	-o-transition: border-color .3s ease-out;
	-moz-transition: border-color .3s ease-out;
	width: 40px;
	height: 40px
}

.tb-r-photos img {
	display: block;
	cursor: pointer
}

.tb-r-photos:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.tb-r-auction-pic {
	float: left;
	margin-right: 5px
}

.tb-r-photos li {
	position: relative
}

.close-btn {
	position: absolute;
	text-align: center;
	line-height: 14px;
	right: 0;
	top: 0;
	width: 14px;
	height: 14px;
	background: #333;
	color: #fff
}

.close-btn:hover {
	color: #900;
	text-decoration: none
}

.reviews-cnt {
	padding: 0 0 10px
}

.reviews-cnt strong {
	font-weight: 700
}

.reviews-cnt .reviews-cnt-bd {
	padding: 0 5px
}

.reviews-cnt .tb-r-spuratting {
	position: relative;
	margin-bottom: 5px
}

.reviews-cnt .tb-r-spuratting ul {
	position: relative;
	padding: 0 0 0 5px;
	background: #fffbf4;
	color: #e97901;
	line-height: 18px
}

.icon-new {
	display: inline-block;
	font-size: 0;
	line-height: 0;
	width: 15px;
	height: 16px;
	background:
		url(http://img03.taobaocdn.com/tps/i3/T1dZhOXz8hXXbRS1DX-15-16.png)
}

.icon-close {
	display: inline-block;
	font-size: 0;
	line-height: 0;
	width: 11px;
	height: 11px;
	background:
		url(http://img03.taobaocdn.com/tps/i3/T1r4p1XtNgXXaKKoA_-11-11.png)
}

.tab-tip {
	width: 270px;
	background: #e6f5ff;
	border: #68c2ff 1px solid;
	position: relative;
	line-height: 1.5
}

.tab-tip .arrow-left {
	top: 32px;
	position: absolute;
	border: transparent dashed 6px;
	font-size: 0;
	line-height: 0
}

.tab-tip .arrow-left-down {
	border-right: #68c2ff 6px solid;
	left: -12px
}

.tab-tip .arrow-left-up {
	border-right: #e6f5ff 6px solid;
	left: -11px
}

.tab-tip .tab-tip-cnt {
	padding: 8px
}

.tab-tip .tab-tip-act {
	float: right
}

.tab-tip .tip-action {
	float: left
}

.tab-tip .icon-close {
	cursor: pointer
}

.tab-tip .icon-close:hover {
	background-color: #ccc
}

.refund-list col.comment {
	width: 365px
}

.refund-list col.ratee {
	width: 130px
}

.refund-list col.things {
	width: 200px
}

.refund-list col.operate {
	width: 110px
}

.refund-list th.ratee, .refund-list th.things, .refund-list th.comment,
	.refund-list th.operate {
	padding: 15px 0;
	text-align: center;
	padding-left: 0
}

.refund-list td.ratee {
	text-align: center
}

.refund-list td.operate {
	padding: 10px 0
}

.refund-list .oprate-act {
	padding: 4px 8px;
	border: #ccc 1px solid;
	color: #333
}

.refund-list .oprate-act:hover {
	background: #f2f2f2;
	text-decoration: none
}

.refund-list .tb-r-spuratting {
	overflow: hidden;
	zoom: 1;
	position: relative
}

.refund-list .tb-r-spuratting ul {
	*zoom: 1;
	padding: 5px 2px;
	margin-left: -25px
}

.refund-list .tb-r-spuratting ul:after {
	content: '\0020';
	display: block;
	height: 0;
	clear: both
}

.refund-list .tb-r-spuratting li {
	white-space: nowrap;
	float: left;
	margin-left: 25px;
	display: inline
} /*publish time:2011-09-21 23:03:18*/
.tb-page-bottom .page-start, .tb-page-bottom .page-prev, .tb-page-bottom .page-next,
	.tb-page-bottom .page-end {
	background:
		url(http://img04.taobaocdn.com/tps/i4/T1cP85XihuXXXXXXXX-13-101.png)
		no-repeat;
}

#reviews .tb-pagination, #deal-record .tb-pagination {
	width: 100%;
	overflow: hidden;
	margin-top: 20px;
}

.tb-page-bottom {
	display: inline;
	float: right;
	width: auto;
}

.tb-page-bottom a, .tb-page-bottom .page-info, .tb-page-bottom .page-start,
	.tb-page-bottom .page-prev, .tb-page-bottom .page-cur, .tb-page-bottom .page-end,
	.tb-page-bottom .page-break {
	display: inline;
	float: left;
	height: 24px;
	margin-right: 3px;
	padding: 0 5px;
	line-height: 24px;
	text-align: center;
	font-family: Tahoma, SimSun, Arial;
}

.tb-page-bottom a, .tb-page-bottom .page-start, .tb-page-bottom .page-prev,
	.tb-page-bottom .page-cur, .tb-page-bottom .page-end, .tb-page-bottom .page-break
	{
	min-width: 16px;
	_width: 16px;
	border: 1px solid #ccc;
}

.tb-page-bottom a:hover {
	text-decoration: none;
	border: 1px solid #FD6D01;
}

.tb-page-bottom .page-start, .tb-page-bottom .page-prev, .tb-page-bottom .page-next,
	.tb-page-bottom .page-end {
	width: 36px;
}

.tb-page-bottom .page-start {
	padding-left: 16px;
	background-position: 5px 8px;
}

.tb-page-bottom .page-prev {
	padding-left: 16px;
	background-position: 0 -12px;
}

.tb-page-bottom .page-next {
	padding-right: 16px;
	background-position: 42px -50px;
}

.tb-page-bottom .page-end {
	padding-right: 16px;
	background-position: 47px -31px;
}

.tb-page-bottom .page-cur {
	font-weight: bold;
	color: #fd6d01;
	background-color: #ffede1;
	border: 1px solid #fd6d01;
}

.tb-page-bottom .page-info, .tb-page-bottom .page-break {
	color: #c0c0c0;
	border: none;
}

.tb-page-bottom .page-more {
	margin-left: 5px;
	text-decoration: underline;
	cursor: pointer;
}